{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="car">
        <div class="card-body">
            <h1>Create new Article</h1>
            <div class="row mb-4">
                <div class="col-4">
                    {{ include('article/_form.html.twig') }}
                </div>
            </div>

            <a href="{{ path('app_article_index') }}" class="link-primary">back to list</a>
        </div>
    </div>

{% endblock %}
